*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
*.mtc0
output.txt
result.txt
stickers.aux
stickers.log
stickers.pdf
stickers-pics.pdf
.stickers.tex.swp
praflogocol2.eps
stickers.dvi
stickers.ps
stickers.tex
