body,html,p,img,table,tr,th,td,h1,h2,h3,h4,h5,ul,ol,li,a,dl
.text,p.align-left,p.align-center,p.align-right {
border:0;
font:normal 11px/13px Verdana, sans-serif;
color:#000;
margin:0;
padding:0;
}

html,body {
background:#fff;
}

body {
text-align:justify;
}

div {
background:transparent;
}

#container {
width:auto;
background:none;
text-align:left;
margin:0 auto;
}

.clear {
float:none;
clear:both;
width:0;
height:0;
line-height:0;
font-size:0;
}

#header {
display:none;
visibility:hidden;
position:relative;
height:141px;
background:url(style_FILES/top_bg.jpg) repeat-x 0 0;
}

#header_in {
position:relative;
text-align:right;
padding:35px 30px 0 0;
}

#menu_path {
background:#feca77;
border-bottom:solid 1px #fff;
margin:0 16px 0 15px;
}

#menu_path_in {
padding:4px 18px 6px;
}

#menu_path_in a {
text-decoration:none;
color:#000;
}

#content {
position:relative;
height:auto;
margin:0 16px 0 15px;
}

#content_in {
position:relative;
}

#content_left {
text-align:justify;
padding:20px 25px 35px;
}

#footer {
display:none;
visibility:hidden;
height:52px;
background:#7E0E0D url(style_FILES/bottom_bg.jpg) repeat-x left bottom;
position:relative;
border-top:solid 2px #fff;
margin:0 16px 0 15px;
}

#footer_in {
text-align:right;
color:#fff;
padding:11px 21px 0;
}

#bottom_left,#bottom_right {
position:absolute;
bottom:0;
}

#bottom_left {
left:-15px;
}

#bottom_right {
right:-16px;
}

#content_bottom {
position:absolute;
left:0;
top:-2.3em;
width:100%;
background:#FECA77;
text-align:left;
z-index:1;
}

#content_bottom_in {
color:#000;
font-size:10px;
padding:5px 21px;
}

h1,h2,p,ul,ol,li,table,th,td,.text,p.align-left,p.align-center,p.align-right {
font-size:12px;
line-height:15px;
}

table img {
margin:5px 0;
}

table,td,th {
border:solid 1px #888;
border-collapse:collapse;
}

td,th {
padding:3px 8px;
}

ul {
padding-left:2em;
}

ul li {
padding-left:.5em;
}

ol {
padding-left:2.5em;
}

a {
color:#000;
text-decoration:none;
}

a:hover {
color:#BF9960;
}

p.align-left,h1.align-left,h2.align-left,h3.align-left,h4.align-left,h5.align-left,h6.align-left,td.align-left {
text-align:left;
}

p.csc-frame-frame1,table.csc-frame-frame1 {
border:1px solid #888;
margin-top:5px;
margin-bottom:5px;
}

table.csc-frame-frame1 td {
border:1px solid #888;
border-collapse:collapse;
padding:2px 8px;
}

p.csc-frame-frame2,table.csc-frame-frame2 {
border:1px solid #009BE2;
margin-top:5px;
margin-bottom:5px;
}

table.csc-frame-frame2 td {
border:1px solid #009BE2;
border-collapse:collapse;
padding:2px 8px;
}

ul.component-items {
color:#009BE2;
list-style-type:circle;
}

ul.action-items {
color:#009BE2;
list-style-image:url(img/red_arrow_bullet.gif);
}

ol.component-items-ordered {
color:#009BE2;
list-style-type:lower-roman;
}

ol.action-items-ordered {
color:#009BE2;
list-style-type:lower-greek;
}

h1,h2,h3,h4,p,ul,ol,li,table,th,td,.text {
border:0;
font:normal 12px/15px Verdana, sans-serif;
color:#000;
margin:0;
padding:0;
}

h1,h1 a {
font-size:18px;
}

h2,h2 a {
font-size:16px;
}

h3,h3 a {
font-size:14px;
}

h4,h4 a {
font-size:12px;
}

h1 a,h2 a,h3 a,h4 a {
text-decoration:underline;
}

img {
border:0;
margin:0;
padding:0;
}

img.image_left {
float:left;
margin:0 10px 10px 0;
}

img.image_right {
float:right;
margin:0 0 10px 10px;
}

dd.csc-textpic-caption /* image caption */ {
font-size:10px;
line-height:12px;
margin:0;
padding:3px 0 0;
}

.news-list-container HR.clearer,.news-single-item HR.clearer,.news-latest-container HR.clearer {
clear:right;
height:1px;
}

.news-latest-container h2 {
padding:.5em 0;
}

.news-latest-container h2 a {
font-size:12px;
font-weight:700;
text-decoration:underline;
}

.news-latest-gotoarchive {
font-weight:700;
margin:0;
padding:0;
}

.news-latest-item {
padding-top:1.5em;
padding-bottom:1em;
border-top:solid 1px #000;
}

.news-latest-item p {
padding-bottom:.5em;
}

.news-latest-item IMG {
margin-bottom:5px;
margin-right:5px;
float:left;
}

.news-latest-morelink a {
float:right;
text-decoration:underline;
}

.news-list-item {
height:1%;
line-height:1.3;
margin:3px;
padding:3px;
}

.news-search-form {
margin-bottom:5px;
padding:3px;
}

.news-search-emptyMsg {
border:0;
margin:0 0 0 10px;
}

.news-search-form FORM {
margin:0;
}

.news-list-container H3 {
margin-bottom:5px;
padding:2px;
}

.news-list-container H3 A:LINK,.news-list-container H3 A:VISITED,.news-list-container H3 A:HOVER {
color:#fff;
padding-left:2px;
}

.news-list-container H3 A {
color:#fff;
}

.news-list-container P {
padding-left:3px;
}

.news-list-date {
float:right;
color:#3E551C;
width:180px;
text-align:right;
height:20px;
margin-top:-2px;
margin-right:-2px;
font-size:9px;
font-weight:400;
}

.news-list-imgcaption {
float:right;
padding-top:3px;
padding-right:3px;
font-size:9px;
}

.news-list-container IMG {
float:right;
margin-bottom:5px;
margin-right:2px;
margin-left:5px;
}

.news-list-morelink {
margin-bottom:0;
}

.tx-ttnews-browsebox {
border:0;
margin:3px;
padding:3px;
}

.tx-ttnews-browsebox-strong,.tx-ttnews-browsebox-SCell {
font-weight:700;
border:0;
}

.tx-ttnews-browsebox-SCell P,.tx-ttnews-browsebox TD P {
border:0;
margin:0;
}

.news-single-item {
margin-bottom:5px;
padding:0;
}

.news-single-item H1,.news-single-item H2 {
font-weight:700;
margin-bottom:0;
}

.news-single-img {
float:right;
margin-left:5px;
}

.news-single-imgcaption {
clear:both;
padding:3px;
}

.news-single-backlink,.news-single-backlink a {
font-weight:700;
margin-bottom:0;
margin-top:10px;
text-decoration:underline;
}

.news-single-timedata,.news-single-author,.news-single-imgcaption {
font-size:11px;
}

.news-single-author {
padding-bottom:3px;
}

.news-single-additional-info {
margin-top:1em;
padding:0 0 .5em;
}

.news-single-related,.news-single-files,.news-single-links {
margin:0 0 3px;
padding:0;
}

.news-single-related DD,.news-single-links DD,.news-single-files DD {
margin-left:30px;
}

.news-single-related DT,.news-single-links DT,.news-single-files DT {
font-weight:700;
margin-left:0;
width:90%;
}

.news-amenu-container {
margin-top:10px;
border:1px solid #333;
background-color:#BBE53A;
padding:3px;
}

.news-amenu-container LI {
padding-bottom:1px;
}

.news-amenu-container UL {
margin-top:5px;
margin-left:0;
margin-bottom:0;
border:1px solid #666;
background-color:#F9FFE5;
list-style-type:none;
padding:3px;
}

.news-amenu-container H2 {
color:#fff;
border:1px solid #666;
background-color:#769024;
padding:3px;
}

.news-amenu-item-year {
font-weight:700;
border:1px solid #666;
background-color:#769024;
color:#fff;
padding:2px;
}

.news-catmenu {
border:1px solid #666;
background-color:#F9FFE5;
margin:10px 0 10px 10px;
padding:5px;
}

.news-catmenu-header {
font-size:11px;
font-weight:700;
}

.news-catmenu DIV {
font-size:10px;
white-space:nowrap;
}

.news-catmenu DIV img {
vertical-align:middle;
margin:0;
padding:0;
}

.level0 {
background-color:#fff;
}

.level1 {
padding-left:10px;
background-color:#eee;
}

.level2 {
padding-left:10px;
background-color:#ddd;
}

.level3 {
padding-left:10px;
background-color:#ccc;
}

.level4 {
padding-left:10px;
background-color:#bbb;
}

#container1,#container2 {
background:none;
}

#right,.content_menu {
display:none;
visibility:hidden;
}

h1,h2,p,ul,ol,table,.text,p.align-left,p.align-center,p.align-right,h1,h2,h3,h4,p,ul,ol,table,.text,p.align-left,p.align-center,p.align-right {
padding-bottom:1em;
}

table,.news-single-item H3 {
margin-bottom:1em;
}

p ul,p ol,table p {
padding-bottom:0;
}

h1,h2,th,h1,h2,h3,h4,h1 a,h2 a,h3 a,h4 a,.news-catmenu-ACT {
font-weight:700;
}

p a,p a,h4 a {
color:#000;
text-decoration:underline;
font-size:12px;
}

p.align-center,h1.align-center,h2.align-center,h3.align-center,h4.align-center,h5.align-center,h6.align-center,td.align-center,.news-list-browse {
text-align:center;
}

p.align-right,h1.align-right,h2.align-right,h3.align-right,h4.align-right,h5.align-right,h6.align-right,td.align-right,.news-latest-morelink {
text-align:right;
}

span.important,span.name-of-person,span.detail {
color:#009BE2;
}

.news-latest-container HR.clearer,.news-latest-container br.clearer {
clear:left;
}

.news-latest-category IMG,.news-list-category IMG {
float:none;
border:none;
margin:0;
}

.tx-ttnews-browsebox table,.tx-ttnews-browsebox TD,.tx-ttnews-browsebox-SCell {
border:0;
}

.news-single-category,.news-single-timedata {
float:right;
}