/* Univerzita Komenskeho, Bratislava, Created by Magnetica s.r.o. ******************************* */

body, html, p, img, table, tr, th, td, h1, h2, h3, h4, h5, ul, ol, li, a, dl
.text, p.align-left, p.align-center, p.align-right
{
	border: 0;
	margin: 0;
	padding: 0;
	font: normal 11px/13px Verdana, sans-serif;
	/* font: normal 11px/13px Arial, sans-serif; */
	color: #000000;
}

html, body {
	background: #ffffff;
}

body {
	text-align: justify;
}

div
{
	background: transparent;
}


/* Page containers ****************************************************************************** */

#container
{
	width: auto;
	margin: 0px auto 0px auto;
	background: none;
	text-align: left;
}

#container1
{
	background: none;
}

#container2
{
	background: none;
}

.clear
{
	float: none;
	clear: both;
	width: 0px;
	height: 0px;
	line-height: 0px;
	font-size: 0px;
}


/* Header *************************************************************************************** */

#header
{
	display: none;
	visibility: hidden;
	position: relative;
	height: 141px;
	background: url(style_FILES/top_bg.jpg) repeat-x 0 0;
}

#header_in {
	position: relative;
	padding: 35px 30px 0 0;
	text-align: right;
}


#right
{
	display: none;
	visibility: hidden;
}


/* Menu Path ************************************************************************************ */

#menu_path {
	background: #feca77;
	margin: 0 16px 0 15px;
	border-bottom: solid 1px #ffffff;
}

#menu_path_in {
	padding: 4px 18px 6px;
}

#menu_path_in a {
	text-decoration: none;
	color: black;
}


/* Content ************************************************************************************** */

#content
{
	position: relative;
	margin: 0 16px 0 15px;
	height: auto;
}

#content_in
{
	position: relative;
}


/* Content menu, level 4-5 *** */

.content_menu
{
	display: none;
	visibility: hidden;
}


/* Content Left ******************************************************************************** */

#content_left
{
	padding: 20px 25px 35px 25px;
	text-align: justify;
}


/* Footer *************************************************************************************** */

#footer
{
	display: none;
	visibility: hidden;

	height: 52px;
	margin: 0 16px 0 15px;
	background: #7E0E0D url(style_FILES/bottom_bg.jpg) repeat-x left bottom;
	position: relative;
	border-top: solid 2px #ffffff;
}

#footer_in {
	text-align: right;
	padding: 11px 21px 0;
	color: #ffffff;
}


/* Bottom border *** */

#bottom_left, #bottom_right
{
	position: absolute;
	bottom: 0;
}

#bottom_left
{
	left: -15px;
}

#bottom_right
{
	right: -16px;
}


/* Editors content *** */

#content_bottom {
	position: absolute;
	left: 0;
	top: -2.3em;
	width: 100%;
	background: #FECA77;
	text-align: left;

	z-index: 1;
}

#content_bottom_in {
	padding: 5px 21px;
	color: #000000;
	font-size: 10px;
}


/* Content tags formating *********************************************************************** */

h1, h2, p, ul, ol, li, table, th, td, 
.text, p.align-left, p.align-center, p.align-right
{
	font-size: 12px;
	line-height: 15px;
}

h1, h2, p, ul, ol, table,
.text, p.align-left, p.align-center, p.align-right
{
	padding-bottom: 1em;
}

table
{
	margin-bottom: 1em;
}

p ul, p ol
{
	padding-bottom: 0;
}

table p
{
	padding-bottom: 0;
}

table img
{
	margin: 5px 0;
}

h1, h2
{
	font-weight: bold;
}

table, td, th 
{
	border: solid 1px #888888;
	border-collapse: collapse;
}

td, th 
{
	padding: 3px 8px;
}

th 
{
	font-weight: bold;
}

ul
{
	padding-left: 2em;
}

ul li
{
	padding-left: 0.5em;
}

ol
{
	padding-left: 2.5em;
}

a {
	color: white;
	text-decoration: none;
}

p a {
	color: black;
	text-decoration: underline;
	font-size: 12px;
}

a:hover {
	color: #BF9960;
}


/* Default CSS from RTE htmlarea editor ********************************************************* */


/* Left, center and right alignment of text in paragraphs and cells.*/

p.align-left, h1.align-left, h2.align-left, h3.align-left, 
h4.align-left, h5.align-left, h6.align-left, td.align-left 
{ 
	text-align: left; 
}

p.align-center, h1.align-center, h2.align-center, h3.align-center, 
h4.align-center, h5.align-center, h6.align-center, td.align-center 
{ 
	text-align: center; 
}

p.align-right, h1.align-right, h2.align-right, h3.align-right, 
h4.align-right, h5.align-right, h6.align-right, td.align-right 
{ 
	text-align: right; 
}


/* Two frame examples taken from the example CSS file of CSS Styled Content extension and applied to p and table block elements.*/

p.csc-frame-frame1, table.csc-frame-frame1 
{ 
	border: 1px solid #888888;
	margin-top: 5px;
	margin-bottom: 5px;
}

table.csc-frame-frame1 td 
{ 
	padding: 2px 8px; 
	border: 1px solid #888888; 
	border-collapse: collapse; 
}

p.csc-frame-frame2, table.csc-frame-frame2 
{ 
	border: 1px solid #009BE2; 
	margin-top: 5px;
	margin-bottom: 5px;
}

table.csc-frame-frame2 td 
{ 
	padding: 2px 8px; 
	border: 1px solid #009BE2; 
	border-collapse: collapse; 
}


/* Bullet styles for unordered lists.*/

ul.component-items 
{ 
	color: #009BE2; 
	list-style-type: circle; 
}

ul.action-items 
{ 
	color: #009BE2; 
	list-style-image: url(img/red_arrow_bullet.gif); 
}

/* Numbering styles for ordered lists.*/

ol.component-items-ordered 
{ 
	color: #009BE2; 
	list-style-type: lower-roman; 
}

ol.action-items-ordered 
{ 
	color: #009BE2; 
	list-style-type: lower-greek; 
}


/* Three inline text colors taken from the color scheme of CSS Styled Content extension.*/

span.important 
{ 
	color: #009BE2; 
}

span.name-of-person 
{ 
	color: #009BE2; 
}

span.detail 
{ 
	color: #009BE2; 
}


/* Selectors for the default configuration of the link accessibity feature.*/

a.external-link {}
a.external-link-new-window {}
a.internal-link {}
a.internal-link-new-window {}
a.download {}
a.mail {}


/* Content tags formating *********************************************************************** */

h1, h2, h3, h4, p, ul, ol, li, table, th, td, .text
{
	border: 0;
	margin: 0;
	padding: 0;
	font: normal 12px/15px Verdana, sans-serif;
	/* font: normal 12px/13px Arial, sans-serif; */
	color: #000000;
	/* text-align: justify; */
	/* font-size: 12px;
	line-height: 15px; */
}

h1, h2, h3, h4, p, ul, ol, table,
.text, p.align-left, p.align-center, p.align-right
{
	padding-bottom: 1em;
}

h1, h1 a
{
	font-size: 18px;
}

h2, h2 a
{
	font-size: 16px;
}

h3, h3 a
{
	font-size: 14px;
}

h4, h4 a
{
	font-size: 12px;
}

table
{
	margin-bottom: 1em;
}

p ul, p ol
{
	padding-bottom: 0;
}

table p
{
	padding-bottom: 0;
}

table img
{
	margin: 5px 0;
}

h1, h2, h3, h4, h1 a, h2 a, h3 a, h4 a
{
	font-weight: bold;
}

h1 a, h2 a, h3 a, h4 a
{
	text-decoration: underline;
}


/* Images *** */

img
{
	border: 0;
	padding: 0;
	margin: 0;
}

img.image_left 
{
	float: left;
	margin: 0 10px 10px 0;
}

img.image_right 
{
	float: right;
	margin: 0 0 10px 10px;
}


table, td, th 
{
	border: solid 1px #888888;
	border-collapse: collapse;
}

td, th 
{
	padding: 3px 8px;
}

th 
{
	font-weight: bold;
}

ul
{
	padding-left: 2em;
}

ul li
{
	padding-left: 0.5em;
}

ol
{
	padding-left: 2.5em;
}

a {
	color: black;
	text-decoration: none;
}

p a, h4 a {
	color: black;
	text-decoration: underline;
	font-size: 12px;
}

a:hover {
	color: #BF9960;
}


/* Default CSS from RTE htmlarea editor ********************************************************* */


/* Left, center and right alignment of text in paragraphs and cells.*/

p.align-left, h1.align-left, h2.align-left, h3.align-left, 
h4.align-left, h5.align-left, h6.align-left, td.align-left 
{ 
	text-align: left; 
}

p.align-center, h1.align-center, h2.align-center, h3.align-center, 
h4.align-center, h5.align-center, h6.align-center, td.align-center 
{ 
	text-align: center; 
}

p.align-right, h1.align-right, h2.align-right, h3.align-right, 
h4.align-right, h5.align-right, h6.align-right, td.align-right 
{ 
	text-align: right; 
}


/* Two frame examples taken from the example CSS file of CSS Styled Content extension and applied to p and table block elements.*/

p.csc-frame-frame1, table.csc-frame-frame1 
{ 
	border: 1px solid #888888;
	margin-top: 5px;
	margin-bottom: 5px;
}

table.csc-frame-frame1 td 
{ 
	padding: 2px 8px; 
	border: 1px solid #888888; 
	border-collapse: collapse; 
}

p.csc-frame-frame2, table.csc-frame-frame2 
{ 
	border: 1px solid #009BE2; 
	margin-top: 5px;
	margin-bottom: 5px;
}

table.csc-frame-frame2 td 
{ 
	padding: 2px 8px; 
	border: 1px solid #009BE2; 
	border-collapse: collapse; 
}


/* Bullet styles for unordered lists.*/

ul.component-items 
{ 
	color: #009BE2; 
	list-style-type: circle; 
}

ul.action-items 
{ 
	color: #009BE2; 
	list-style-image: url(img/red_arrow_bullet.gif); 
}

/* Numbering styles for ordered lists.*/

ol.component-items-ordered 
{ 
	color: #009BE2; 
	list-style-type: lower-roman; 
}

ol.action-items-ordered 
{ 
	color: #009BE2; 
	list-style-type: lower-greek; 
}


/* Three inline text colors taken from the color scheme of CSS Styled Content extension.*/

span.important 
{ 
	color: #009BE2; 
}

span.name-of-person 
{ 
	color: #009BE2; 
}

span.detail 
{ 
	color: #009BE2; 
}


/* CSS styled content corection, robert *** */

dd.csc-textpic-caption /* image caption */
{
	padding: 3px 0 0 0;
	margin: 0;
	font-size: 10px;
	line-height: 12px;
}


/* ******************************************************************* */

/*-----------------------------------  clearer  -----------------------------------*/

/* prevent floated images from overlapping the div-containers they are wrapped in  */

.news-list-container HR.clearer, .news-single-item HR.clearer, .news-latest-container HR.clearer{
	clear:right;
	height:1px;
	/* border:1px solid #F9FFE5; */
}

.news-latest-container HR.clearer {
	clear:left;
}

.news-latest-container br.clearer {
	clear:left;
}

/*-----------------------------------  tt_news LATEST view  -----------------------------------*/

.news-latest-container { }

.news-latest-container h2 {
	padding: 0.5em 0;
}

.news-latest-container h2 a {
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
}

.news-latest-gotoarchive {
	padding: 0px;
	margin: 0px;
}

.news-latest-gotoarchive {
	font-weight:bold;
	margin-top:0;
}

.news-latest-gotoarchive A:LINK, 
.news-latest-gotoarchive A:VISITED, 
.news-latest-gotoarchive A:HOVER { }

.news-latest-gotoarchive A { }

.news-latest-item {
	padding-top: 1.5em;
	padding-bottom: 1em;
	border-top: solid 1px #000000;
}

.news-latest-item p {
	padding-bottom: 0.5em;
}

.news-latest-item IMG {
	margin-bottom:5px;
	margin-right:5px;
	float:left;
}
.news-latest-category IMG {
	float: none;
	border: none;
	margin: 0px;
}

.news-latest-date, .news-latest-morelink, .news-latest-category { }

.news-latest-morelink {
	text-align: right;
}

.news-latest-morelink a {
	float: right;
	text-decoration: underline;
}


/*--------------------------------- tt_news LIST view  -----------------------------------*/

.news-list-container {
	/* border:1px solid #000; */
	/* background-color:#BBE53A; */
}

.news-list-item {
	/* IE hack */
	height: 1%;
	line-height: 1.3;
	/* IE hack end */
	padding:3px;
	margin:3px;
	/* border:1px solid #666; */
	/* background-color:#F9FFE5; */
}

.news-search-form {
	padding:3px;
	margin-bottom:5px;
	/* border:1px solid #666; */
	/* background-color:#F9FFE5; */
}
.news-search-emptyMsg{
	margin:0px;
}
.news-search-form FORM {
	margin:0px;
}
.news-list-container H3 {
	margin-bottom: 5px;
	padding: 2px;
	/* border-bottom: 1px solid #769024; */
	/* background-color: #769024; */
}
.news-list-container H3 A:LINK,.news-list-container H3 A:VISITED,.news-list-container H3 A:HOVER {
	color:#fff;
	padding-left:2px;
}
.news-list-container H3 A {
	color:#fff;

}
.news-list-container P {
	padding-left:3px;
}
.news-list-date {
	float: right;
	color: #3E551C;
	width: 180px;
	text-align: right;
	height: 20px;
	margin-top: -2px;
	margin-right: -2px;
	font-size: 9px;
	font-weight: normal;
	/* background-color: #F9FFE5; */
}

.news-list-imgcaption {
	float: right;
	padding-top:3px;
	padding-right:3px;
	font-size: 9px;
}

.news-list-container IMG {

	float: right;
	/* border:1px solid #666; */
	margin-bottom:5px;
	margin-right:2px;
	margin-left:5px;
}
.news-list-category IMG {
	float: none;
	border: none;
	margin: 0;
}

.news-list-morelink,.news-list-category { }

.news-list-morelink  {
	margin-bottom: 0;
}

.news-list-browse {
	text-align: center;
}


/*---------------------------------  tt_news Page-Browser ---------------------------------*/

.tx-ttnews-browsebox {
	margin: 3px;
	padding: 3px;
	border: 0;
}

.tx-ttnews-browsebox table, 
.tx-ttnews-browsebox TD {
	border: 0;
}

.tx-ttnews-browsebox-strong, .tx-ttnews-browsebox-SCell {
	font-weight: bold;
	border: 0;
}

.tx-ttnews-browsebox-SCell P, .tx-ttnews-browsebox TD P {
	margin: 0;
	border: 0;
}

.tx-ttnews-browsebox-SCell {
	border: 0;
}

.news-search-emptyMsg {
	margin-left: 10px;
	border: 0;
}


/*--------------------------------- tt_news SINGLE view  ---------------------------------*/

.news-single-item {
	padding: 0;
	margin-bottom:5px;
}

.news-single-item H1, 
.news-single-item H2 {
	font-weight: bold;
	margin-bottom: 0;
}

.news-single-item H3 {
	margin-bottom: 1em;
}

.news-single-img {
	float: right;
	margin-left: 5px;
}

.news-single-imgcaption {
	padding: 3px;
	clear: both;
}

.news-single-category {
	float: right;
}

.news-single-backlink, .news-single-backlink a {
	font-weight: bold;
	/* font-size: 10px; */
	margin-bottom: 0;
	margin-top: 10px;
}
.news-single-backlink, .news-single-backlink a {
	text-decoration: underline;
}

.news-single-timedata {
	float: right;
}
.news-single-timedata, .news-single-author,.news-single-imgcaption {
	font-size: 11px; 
}
.news-single-author {
	padding-bottom: 3px;
}
.news-single-additional-info {
	/* clear: both; */
	margin-top: 1em;
	padding: 0;
	padding-bottom: 0.5em;
}
.news-single-related,.news-single-files,.news-single-links  {
	/* border: 1px solid #666; */
	margin: 0;
	margin-bottom: 3px;
	padding: 0;
	/* background-color:#F9FFE5; */
}

.news-single-related DD, .news-single-links DD, .news-single-files DD {
	margin-left: 30px;
}

.news-single-related DT, .news-single-links DT, .news-single-files DT {
	font-weight: bold;
	/* font-size: 11px; */
	margin-left: 0;
	width: 90%;
}


/*--------------------------------- tt_news Archivemenu (AMENU) --------------------------------- */

.news-amenu-container {
	margin-top:10px;
	padding:3px;
	border:1px solid #333;
	background-color:#BBE53A;
}
.news-amenu-container LI {
	padding-bottom:1px;
}
.news-amenu-container UL {
	padding:3px;
	margin-top:5px;
	margin-left:0px;
	margin-bottom:0px;
	border:1px solid #666;
	background-color:#F9FFE5;
	list-style-type: none;
}
.news-amenu-container H2 {
	color:#fff;
	padding:3px;
	border:1px solid #666;
	background-color:#769024;
}
.news-amenu-item-year {
	font-weight: bold;
	border: 1px solid #666;
	padding: 2px;
	background-color: #769024;
	color:#fff;
}


/*--------------------------------- tt_news Categorymenu (CATMENU) --------------------------------- */

.news-catmenu  {
	padding:5px;
	margin:10px 0px 10px 10px;
	border:1px solid #666;
	background-color:#F9FFE5;
}
.news-catmenu-header  {
	font-size:11px;
	font-weight:bold;
}
.news-catmenu DIV {
	font-size:10px;
	white-space: nowrap;
}
.news-catmenu DIV img {
	margin:0px;
	padding:0px;
	vertical-align: middle;
}
.news-catmenu-ACT {
	font-weight:bold;
}


/*  Styles for catmenu mode "nestedWraps" */

.level0 {
	background-color:#fff;
}
.level1 {
	padding-left:10px;
	background-color:#eee;
}
.level2 {
	padding-left:10px;
	background-color:#ddd;
}
.level3 {
	padding-left:10px;
	background-color:#ccc;
}
.level4 {
	padding-left:10px;
	background-color:#bbb;
}








