tr.selected-score {
background:#FECA77;
}

span.warning {
color:red;
}

h1,h2,h3,h4,p,ul,ol,li,table,th,td,.text,dl {
border:0;
font:normal 12px/15px Verdana, sans-serif;
font-size:small;
line-height:120%;
color:#000;
margin:0;
padding:0;
}

h1,h2,h3,h4,p,ul,ol,table,dl,.text,p.align-left,p.align-center,p.align-right {
padding-bottom:1em;
}

h1 {
font-size:160%;
}

h2 {
font-size:140%;
}

h3 {
font-size:120%;
}

table {
margin-bottom:1em;
}

table img {
margin:5px 0;
}

h1,h2,h3,h4,h1 a,h2 a,h3 a,h4 a {
font-weight:700;
line-height:100%;
}

h1 a,h2 a,h3 a,h4 a {
text-decoration:underline;
}

img {
border:0;
margin:0;
padding:0;
}

img.image_left {
float:left;
margin:0 10px 10px 0;
}

img.image_right {
float:right;
margin:0 0 10px 10px;
}

table,td,th {
border:solid 1px #888;
border-collapse:collapse;
}

td,th {
padding:3px 8px;
}

ul {
padding-left:2em;
}

ul li {
padding-left:.5em;
}

ol {
padding-left:2.5em;
}

a {
color:#000;
text-decoration:underline;
}

p a,#content_left ul a,ol a,dl a {
color:#000;
text-decoration:underline;
font-size:100%;
}

a:hover,#content_left ul a:hover,#content_left ol a:hover,#content_left dl a:hover {
color:#BF9960;
}

table.noBorders,table.noBorders td,table.noBorders th {
border:none;
}

p.align-center,h1.align-center,h2.align-center,h3.align-center,h4.align-center,h5.align-center,h6.align-center,td.align-center {
text-align:center;
}

p.align-right,h1.align-right,h2.align-right,h3.align-right,h4.align-right,h5.align-right,h6.align-right,td.align-right {
text-align:right;
}

p.csc-frame-frame1,table.csc-frame-frame1 {
border:1px solid #888;
margin-top:5px;
margin-bottom:5px;
}

table.csc-frame-frame1 td {
border:1px solid #888;
border-collapse:collapse;
padding:2px 8px;
}

p.csc-frame-frame2,table.csc-frame-frame2 {
border:1px solid #009BE2;
margin-top:5px;
margin-bottom:5px;
}

table.csc-frame-frame2 td {
border:1px solid #009BE2;
border-collapse:collapse;
padding:2px 8px;
}

ul.component-items {
color:#009BE2;
list-style-type:circle;
}

ul.action-items {
color:#009BE2;
list-style-image:url(img/red_arrow_bullet.gif);
}

ol.component-items-ordered {
color:#009BE2;
list-style-type:lower-roman;
}

ol.action-items-ordered {
color:#009BE2;
list-style-type:lower-greek;
}

h1,h2,h3,h4,p.align-left,h1.align-left,h2.align-left,h3.align-left,h4.align-left,h5.align-left,h6.align-left,td.align-left {
text-align:left;
}

h1 a,h2 a,h3 a,h4,h4 a {
font-size:100%;
line-height:100%;
}

p ul,p ol,table p {
padding-bottom:0;
}

th,a.linkBold {
font-weight:700;
}

span.important,span.name-of-person,span.detail {
color:#009BE2;
}