body,html,p,img,table,tr,th,td,h1,h2,h3,h4,h5,ul,ol,li,a,.text,p.align-left,p.align-center,p.align-right {
border:0;
font:normal 11px/13px Verdana, sans-serif;
font-size:85%;
color:#000;
margin:0;
padding:0;
}

html,body {
background:#AF1000;
}

body {
text-align:center;
}

div {
background:transparent;
}

.harmonogram,#plan {
text-align:center;
margin-left:auto;
margin-right:auto;
}

iframe {
display:block;
margin-left:auto;
margin-right:auto;
}

#container {
width:auto;
min-width:780px;
max-width:1220px;
background:#fffaf2;
text-align:left;
height:auto;
margin:0 auto;
}

#container1 {
background:url(left_bg.jpg) top left repeat-y;
height:100%;
}

#container2 {
background:url(left_yellow.gif) top right repeat-y;
height:100%;
}

.clear {
float:none;
clear:both;
width:0;
height:0;
line-height:0;
font-size:0;
}

#header {
position:relative;
height:141px;
background:url(top_bg.jpg) repeat-x 0 0;
}

#header2 {
position:absolute;
top:35px;
left:0;
height:106px;
width:100%;
}

#header3 {
height:106px;
background:url(header_bg.jpg) repeat-x 0 0;
margin:0 16px 0 15px;
}

#header_in {
position:relative;
text-align:right;
z-index:50;
padding:35px 30px 0 0;
}

#top_left,#top_right {
position:absolute;
top:0;
}

#top_left {
left:0;
}

#top_right {
right:0;
}

#top_left_bg {
position:absolute;
width:230px;
height:106px;
right:16px;
top:35px;
background:#7E0E0D;
z-index:0;
}

#logoUK_link {
position:absolute;
left:40px;
top:25px;
width:94px;
height:95px;
z-index:99;
}

#titleUK_link {
position:absolute;
left:161px;
top:25px;
width:325px;
height:95px;
z-index:99;
}

#logoF_link {
position:absolute;
left:60.9%;
top:31px;
width:68px;
height:68px;
z-index:99;
}

#menu_top {
float:right;
display:block;
list-style-image:none;
position:relative;
margin:0;
padding:0;
}

#menu_top li {
list-style-image:none;
display:inline;
margin:0;
padding:0;
}

#menu_top a {
color:#FFF;
padding-left:10px;
text-decoration:none;
}

#search_box {
float:right;
position:relative;
}

#adv_search {
color:#FFF;
font-size:95%;
text-decoration:none;
}

#menu_main {
position:absolute;
bottom:4px;
right:16px;
height:31px;
background:url(menu_bg.gif) repeat-x 0 0;
}

#menu_main ul {
margin:0;
padding:0 10px 0 30px;
}

#menu_main ul,#menu_main ul li {
list-style-image:none;
}

#menu_main ul li {
display:block;
float:left;
margin:0;
padding:0 0 0 1px;
}

#menu_path {
background:#feca77;
border-bottom:solid 1px #fff;
margin:0 16px 0 15px;
}

#menu_path_in {
font-size:85%;
padding:4px 18px 6px;
}

#menu_path_in a {
text-decoration:none;
color:#000;
font-size:100%;
}

#content {
position:relative;
height:auto;
margin:0 16px 0 15px;
}

#content_in {
position:relative;
min-height:487px;
margin-bottom:2px;
}

.indent {
margin-left:40px;
}

.align-right {
text-align:right;
}

#right {
float:right;
width:227px;
padding-bottom:35px;
z-index:10;
min-height:400px;
max-height:100%;
position:absolute;
top:0;
right:0;
}

#right ul {
margin:0;
padding:8px 0 0;
}

#right li ul {
margin:0;
padding:0;
}

#right ul,#right ul li {
list-style-image:none;
width:227px;
}

#right ul li {
display:inline;
margin:0;
padding:0;
}

#right a {
display:block;
color:#000;
text-decoration:none;
text-align:left;
font-weight:700;
padding:4px 20px;
}

#right li ul li a {
padding-left:37px;
text-decoration:none;
}

#right li ul li ul li a {
padding-left:50px;
}

#right a.act {
background:url(lmenu_arr.gif) no-repeat 10px 8px;
}

#right li ul li a.act {
background:url(lmenu_arr.gif) no-repeat 27px 8px;
}

#content_left {
text-align:justify;
padding:20px 250px 35px 25px;
}

a.top_page {
display:block;
clear:both;
float:none;
height:1.2em;
text-align:right;
text-decoration:underline;
color:#000;
background:url(top_page2.gif) no-repeat 100% 11px;
padding:10px 18px 0 0;
}

a.top_page:hover {
color:#000;
}

a.miniLink {
font-size:10px;
color:#000;
text-decoration:none;
}

#footer {
height:52px;
background:#7E0E0D url(bottom_bg.jpg) repeat-x left bottom;
position:relative;
border-top:solid 2px #fff;
margin:0 16px 0 15px;
}

#footer_in {
text-align:right;
color:#fff;
padding:11px 21px 0;
}

#bottom_left,#bottom_right {
position:absolute;
bottom:0;
}

#bottom_left {
left:-15px;
}

#bottom_right {
right:-16px;
}

#menu_bottom {
float:left;
}

#menu_bottom ul,#menu_bottom ul li {
list-style-image:none;
margin:0;
padding:0;
}

#menu_bottom ul li {
display:inline;
margin:0;
padding:0;
}

#menu_bottom a {
display:block;
float:left;
color:#fff;
text-decoration:none;
padding:0 15px 0 0;
}

#copyright {
float:right;
color:#fff;
font-size:110%;
}

#copyright a {
color:#fff;
text-decoration:none;
padding:0;
}

#content_bottom {
position:absolute;
left:0;
top:-2.2em;
width:100%;
background:#FECA77;
text-align:left;
z-index:1;
}

#content_bottom_in {
color:#000;
font-size:10px;
padding:5px 21px;
}

h1,h2,p,ul,ol,li,table,th,td,.text,p.align-left,p.align-center,p.align-right {
font-size:small;
line-height:15px;
}

h1,h2,p,ul,ol,table,.text,p.align-left,p.align-center,p.align-right {
padding-bottom:1em;
}

table {
margin-bottom:1em;
}

table img {
margin:5px 0;
}

table,td,th {
border:solid 1px #888;
border-collapse:collapse;
}

td,th {
padding:3px 8px;
}

ul {
padding-left:2em;
}

ul li {
padding-left:.5em;
}

ol {
padding-left:2.5em;
}

a {
color:#FFF;
text-decoration:none;
}

p a {
color:#000;
text-decoration:underline;
font-size:12px;
}

a:hover {
color:#BF9960;
}

dd.csc-textpic-caption /* image caption */ {
font-size:80%;
line-height:120%;
}

#menu_main ul li a {
height:31px;
display:block;
float:left;
color:#FFF;
font-family:Verdana, Segoe, sans-serif;
font-weight:700;
line-height:31px;
letter-spacing:1px;
font-size:100%;
text-decoration:none;
background-position:0 0;
background-repeat:no-repeat;
padding:0 10px;
}

.csc-sitemap ul li a {
font-weight:700;
font-size:12px;
line-height:16px;
text-decoration:underline;
}

.content_menu {
padding-bottom:1.5em;
margin-bottom:1.5em;
border-bottom:solid 2px #BF9960;
}

.content_menu li a {
font-weight:700;
font-size:12px;
line-height:18px;
text-decoration:none;
}

#logoUK,#titleUK,#logoF {
z-index:100;
}

#menu_top a:hover,#adv_search:hover,#menu_path_in a:hover,#right a:hover,#right li ul li a:hover,#menu_bottom a:hover,#copyright a:hover {
text-decoration:underline;
}

a.miniLink:hover,.content_menu li a:hover {
color:#000;
text-decoration:underline;
}

#content_bottom_in a,#content_bottom_in a:hover,h1,h2,th {
font-weight:700;
}

p ul,p ol,table p,.content_menu ul {
padding-bottom:0;
}

#menu_main ul li a.selected,#menu_main ul li a:hover {
color:#7E0E0D;
background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2NiUiIHN0b3AtY29sb3I9IiNmZWNhNzciIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZWE5YjU2IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
border-top-left-radius:5px;
border-top-right-radius:5px;
}

.csc-sitemap ul,.content_menu,.content_menu ul {
list-style-type:disc;
}

.csc-sitemap ul li ul li a,.content_menu ul li a {
font-weight:400;
}

.first-unaccepted {
    border-top: medium solid black;
}
