.news-list-container HR.clearer,.news-single-item HR.clearer,.news-latest-container HR.clearer {
clear:right;
height:1px;
}

.news-latest-container h2 {
padding:.5em 0;
}

.news-latest-container h2 a {
font-size:12px;
font-weight:700;
text-decoration:underline;
}

.news-latest-gotoarchive {
font-weight:700;
margin:0;
padding:0;
}

.news-latest-item {
padding-top:.5em;
padding-bottom:1em;
border-top:solid 2px #BF9960;
}

.news-latest-item p {
padding-bottom:.5em;
}

.news-latest-item IMG {
margin-bottom:5px;
margin-right:5px;
float:left;
}

.news-latest-morelink {
text-align:right;
}

.news-latest-morelink a {
float:right;
text-decoration:underline;
}

.news-list-item {
height:1%;
line-height:1.3;
margin:3px;
padding:3px;
}

.news-search-form {
margin-bottom:5px;
padding:3px;
}

.news-search-emptyMsg {
border:0;
margin:0 0 0 10px;
}

.news-search-form FORM {
margin:0;
}

.news-list-container H3 {
margin-bottom:5px;
padding:2px;
}

.news-list-container H3 A:LINK,.news-list-container H3 A:VISITED,.news-list-container H3 A:HOVER {
color:#fff;
padding-left:2px;
}

.news-list-container H3 A {
color:#fff;
}

.news-list-container P {
padding-left:3px;
}

.news-list-date {
float:right;
color:#3E551C;
width:180px;
text-align:right;
height:20px;
margin-top:-2px;
margin-right:-2px;
font-size:9px;
font-weight:400;
}

.news-list-imgcaption {
float:right;
padding-top:3px;
padding-right:3px;
font-size:9px;
}

.news-list-container IMG {
float:right;
margin-bottom:5px;
margin-right:2px;
margin-left:5px;
}

.news-list-morelink {
margin-bottom:0;
}

.news-list-browse {
text-align:center;
}

.tx-ttnews-browsebox {
border:0;
margin:3px;
padding:3px;
}

.tx-ttnews-browsebox-strong,.tx-ttnews-browsebox-SCell {
font-weight:700;
border:0;
}

.tx-ttnews-browsebox-SCell P,.tx-ttnews-browsebox TD P {
border:0;
margin:0;
}

.news-single-item {
margin-bottom:5px;
padding:0;
}

.news-single-item H1,.news-single-item H2 {
font-weight:700;
margin-bottom:0;
}

.news-single-item H3 {
margin-bottom:1em;
}

.news-single-img {
float:right;
margin-left:5px;
}

.news-single-imgcaption {
clear:both;
padding:3px;
}

.news-single-backlink,.news-single-backlink a {
font-weight:700;
margin-bottom:0;
margin-top:10px;
text-decoration:underline;
}

.news-single-timedata,.news-single-author,.news-single-imgcaption {
font-size:11px;
}

.news-single-author {
padding-bottom:3px;
}

.news-single-additional-info {
margin-top:1em;
padding:0 0 .5em;
}

.news-single-related,.news-single-files,.news-single-links {
margin:0 0 3px;
padding:0;
}

.news-single-related DD,.news-single-links DD,.news-single-files DD {
margin-left:30px;
}

.news-single-related DT,.news-single-links DT,.news-single-files DT {
font-weight:700;
margin-left:0;
width:90%;
}

.news-amenu-container li {
padding:.1em 0;
}

.news-catmenu {
border:1px solid #666;
background-color:#F9FFE5;
margin:10px 0 10px 10px;
padding:5px;
}

.news-catmenu-header {
font-size:11px;
font-weight:700;
}

.news-catmenu DIV {
font-size:10px;
white-space:nowrap;
}

.news-catmenu DIV img {
vertical-align:middle;
margin:0;
padding:0;
}

.level0 {
background-color:#fff;
}

.level1 {
padding-left:10px;
background-color:#eee;
}

.level2 {
padding-left:10px;
background-color:#ddd;
}

.level3 {
padding-left:10px;
background-color:#ccc;
}

.level4 {
padding-left:10px;
background-color:#bbb;
}

.news-latest-container HR.clearer,.news-latest-container br.clearer {
clear:left;
}

.news-latest-category IMG,.news-list-category IMG {
float:none;
border:none;
margin:0;
}

.tx-ttnews-browsebox table,.tx-ttnews-browsebox TD,.tx-ttnews-browsebox-SCell {
border:0;
}

.news-single-category,.news-single-timedata {
float:right;
}

.news-amenu-item-year,.news-catmenu-ACT {
font-weight:700;
}