
/******************************************************************************/
/* zaklad */

body {
  font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
  text-align: justify;
  font-size: 14px;
}



/******************************************************************************/
/* linky a fakelinky */

a, .fakelink {
  color: #00A;
  cursor: pointer;
  text-decoration: none;
}
a:hover, .fakelink:hover {
  color: #00E;
  text-decoration: underline;
}



/******************************************************************************/
/* #login-form */

#login-form, .global-message {
  font-size: 2.857em;   /* 40/14 */
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
}

#login-form input {
  margin: 0 0.1em;
}

#login-form .demo-message {
  font-size: 0.625em;   /* 25/40 */
}



/******************************************************************************/
/* otazky */

#toc {
  position: fixed;
  left: 0;
  width: 30%;
  top: 0;
  bottom: 8em;
  background: #EEE;
  overflow-y: auto;
}

#toc ol {
  margin: 2em 1em 2em 3em;
  padding: 0;
}

#toc a, #toc .fakelink {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0.05em 0;
}

#toc .complete {
  color: #AAA;
}

#toc .complete:hover {
  color: #666;
}

#status {
  position: fixed;
  left: 0;
  width: 30%;
  height: 8em;
  bottom: 0;
  background: #CCC;
  overflow: hidden;
}

#status .pid {
  margin: 0.5em 0.2em 0;
  font-size: 2.3em;
  line-height: 1;
  text-align: center;
}

#status .submit {
  margin: 0.5em;
  font-size: 1.3em;
  text-align: center;
}

#status .submit input {
  padding: 0 0.5em;
  text-transform: uppercase;
}

#main {
  margin-left: 30%;
  padding: 1em 1.5em;
}

#main .question {
  padding: 2em 0;
  border-bottom: solid #DDD 1px;
}

#main .question h3 {
  font-size: 1.286em;   /* 18/14 */
  font-weight: normal;
  margin: 0 0 1em;
}

#main .question .option {
  margin-top: 0.9em;
}

#main .question .option .text {
  margin-bottom: 0.2em;
}

.boolean-widget span {
  margin-left: 1em;
}

.text-widget span {
  margin-left: 2em;
}

